.bullets{
    width: 60%;
    top: 80px;
    left: 22%;
    position: absolute;
    z-index: 4;
}
.about{
    width: 20%;
    position: absolute;
    bottom: 25%;
    left:2%;
}
.exp{
    position: absolute;
    left: 44%;
    bottom: 22%;
}