.bullets{
    width: 60%;
    top: 60px;
    left: 25%;
    position: absolute;
    z-index: 4;
}
.about{
    width: 20%;
    position: absolute;
    bottom: 25%;
    left:2%;
}
.exp{
    position: absolute;
    left: 45%;
    bottom: 16%;
}
@media (max-width: 768px) {
    .bullets{
        width: 90%;
        top: 30%;
        left: 4%;
    }
    .about{
        width: 40%;
        top: 15%;
        bottom: 0;
        left:2%;
    }
    .exp{
        left: 34%;
        bottom: 22%;
    }
}

@media (max-width: 425px) {
    .bullets{
        width: 90%;
        top: 35%;
        left: 6%;
    }
    .about{
        width: 80%;
        top: 15%;
        bottom: 0;
        left:2%;
        h4{
            font-size: 1em;
        }
    }
    .exp{
        left: 24%;
        bottom: 22%;
        h4{
            font-size: 1em;
        }
    }
}