.contentDes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    &__column{
        width: 40%;
        ul{
            li{
                margin-top: 28px;
            }
        }
        &__onuAgenda{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 28px;
            &__column{
                width: 45%;
                &__onuIcon{
                    width: 80%;
                }
            }
        }
        &__factores{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__column{
                margin-top: 40px;
                
                p{
                   text-align: center;
                   margin: 0 auto;
                }
                &__icon{
                    width: 80px;
                    margin: 0 auto;
                    margin-top: 28px;
                }
            }
        }
    }
}
.arrowBackDes {
    width: 60px;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contentDes{
        flex-direction: column;

        &__column{
            width: 100%;
            padding: 12px;
            h4{
                font-size: 1em;
            }
            &__onuAgenda{
                width: 100%;
            flex-direction: column;
           
            margin-top: 28px;
                &__column{
                    width: 40%;
                    &__onuIcon{
                        width: 60%;
                    }
                }
            }
            &__factores{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                &__column{
                    margin-top: 40px;
                    
                    p{
                       text-align: center;
                       margin: 0 auto;
                    }
                    &__icon{
                        width: 80px;
                        margin: 0 auto;
                        margin-top: 28px;
                    }
                }
            }
        }
    }
    .arrowBackDes {
        width: 32px;
        top: 2%;
        right: 2%;
    }
}

@media (max-width: 426px) {
    .contentDes{
        height: auto;
        &__column{
            width: 100%;
            padding: 0px 12px 12px 12px;
            h4{
                font-size: .8em;
            }
            >ul{
                width: 90%;
                li{
                    width: 70%;
                    font-size: .6em;
                    margin-top: 12px;
            }}
            &__onuAgenda{
                flex-direction: row;
                &__column{
                    width: 45%;
                    &__onuIcon{
                        width: 100%;
                    }
                    >ul{
                        width: 80%; 
                        padding-inline-start: 20px;
                        li{
                             
                            font-size: .6em;
                        }
                    }
                }
            }
            &__factores{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                &__column{
                    margin-top: 20px;
                    
                    p{
                        font-size: .6em;
                    }
                    &__icon{
                        width: 40px;
                        margin: 0 auto;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}