<div class="card">
    <h3>DriVR<br/>Enterprise</h3>
    <h2>$51, 750  + IVA</h2>
    <h4>Renta Mensual</h4>
    <p>Contrato anual</p>
</div>
<div class="cardPool">
    <h3>DriVR<br/>Enterprise Pool</h3>
    <h4>6 meses</h4>
    <h2>$59, 500  + IVA</h2>
    <h4>Renta Mensual</h4>
    <p>(Requiere 2 empresas)</p>
    <h4>4 meses</h4>
    <h2>$66, 975 + IVA</h2>
    <h4>Renta Mensual</h4>
    <p>(Requiere 3 empresas)</p>
</div>
<div class="cardPruebas">
    <h3>Centro<br/>DriVR pruebas</h3>
    <h2>$450  + IVA</h2>
    <h4>Costo por prueba</h4>
    <h3 class="txtApertura">Próxima apertura</h3>
</div>