#servicios {
  >div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.card {
  text-align: center;
  border: 2px solid $orange;
  padding: 28px;
  border-radius: 16px;
  height: 400px;
  margin-bottom: 40px;

  h2 {
    color: #6EFB73;
  }

  >h3 {
    color: $orange;
    margin: 0 auto;
    margin-block-end: 1.6em;
  }
}

.cardPool {
  text-align: center;
  border: 2px solid $orange;
  padding: 28px;
  border-radius: 16px;
  height: 400px;
  margin-bottom: 40px;

  >h2 {
    color: #9BFD9F;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  >h3 {
    color: $orange-dark;
    margin: 0 auto;
    margin-block-end: 1em;
  }

  p {
    margin-block-end: 2em;
  }

}

.cardPruebas {
  text-align: center;
  border: 2px solid $orange;
  padding: 28px;
  border-radius: 16px;
  height: 400px;
  margin-bottom: 40px;

  >h2 {
    color: #CDFECF;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  >h3 {
    color: $orange-light;
    margin: 0 auto;
    margin-block-end: 1.6em;
  }

  >h4 {
    margin-block-end: 4em;
  }

  .txtApertura {
    color: #6EFB73;
  }
}

@media (max-width: 768px) {
  #servicios {
    >div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin: 40px auto;
    }
  }
}

@media (max-width: 426px) {
  #servicios {
    >div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin: 40px auto;
    }
  }

  .card {
    padding: 28px;
    height: 300px;
    margin-bottom: 40px;

    h2 {
      font-size: 2.2em;
    }

    >h3 {
      color: $orange;
      margin: 0 auto;
      margin-block-end: 1em;
      font-size: 1.5em;
    }
  }

  .cardPool {
    padding: 28px;
    height: 320px;
    margin-bottom: 40px;

    >h2 {
      font-size: 2.2em;
    }

    >h3 {
      font-size: 1.5em;
    }

    p {
      margin-block-end: 1.5em;
      font-size: .8em;
    }

  }

  .cardPruebas {
    height: 300px;

    >h2 {
      font-size: 2.2em;
    }

    >h3 {
      font-size: 1.5em;
    }
  }
}
