<h1>Modelo de <span>implementación</span></h1>

<div class="cardsImp">
  <div class="cardImp">
    <div class="cardImp__icon">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 84 80" style="enable-background:new 0 0 84 80;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #F6871F;
          }

        </style>
        <path class="st0" d="M71.9,62.7c1.7-2.7,2.7-5.8,2.7-9.1c0-9.5-7.7-17.1-17.1-17.1s-17.1,7.7-17.1,17.1S48,70.8,57.4,70.8
	c3.4,0,6.5-1,9.1-2.7L78.4,80l5.4-5.4L71.9,62.7z M57.4,63.2c-2.5,0-4.9-1-6.7-2.8c-1.8-1.8-2.8-4.2-2.8-6.7c0-2.5,1-4.9,2.8-6.7
	c1.8-1.8,4.2-2.8,6.7-2.8c2.5,0,4.9,1,6.7,2.8c1.8,1.8,2.8,4.2,2.8,6.7c0,2.5-1,4.9-2.8,6.7C62.4,62.2,60,63.2,57.4,63.2z
	 M56.1,30.8c-2.8,0.1-5.5,0.7-8,1.7L46,29.3L31.5,52.9L20,39.5L6.2,61.6L0,57.1l19-30.5L30.5,40l15.2-24.8L56.1,30.8z M65.9,32.7
	c-2.4-1.1-5.1-1.7-7.8-1.9L77.6,0l6.2,4.5L65.9,32.7z" />
      </svg>
    </div>
    <h4>Fase 0</h4>
    <div class="cardImp__txt">
      <ul>
        <li> Levantamiento de información.</li>
        <li> Revisión de Programa de Seguridad Vial.</li>
        <li> Análisis de estadísticas e información relacionada con el desempeño de Seguridad Vial</li>
        <li> Alineación de indicadores.</li>
        <li> Planeación para implementación.</li>
      </ul>
    </div>
  </div>
  <div class="cardImp">
    <div class="cardImp__icon">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 84 80" style="enable-background:new 0 0 84 80;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #F6871F;
          }

        </style>
        <path class="st0" d="M71.9,62.7c1.7-2.7,2.7-5.8,2.7-9.1c0-9.5-7.7-17.1-17.1-17.1s-17.1,7.7-17.1,17.1S48,70.8,57.4,70.8
	c3.4,0,6.5-1,9.1-2.7L78.4,80l5.4-5.4L71.9,62.7z M57.4,63.2c-2.5,0-4.9-1-6.7-2.8c-1.8-1.8-2.8-4.2-2.8-6.7c0-2.5,1-4.9,2.8-6.7
	c1.8-1.8,4.2-2.8,6.7-2.8c2.5,0,4.9,1,6.7,2.8c1.8,1.8,2.8,4.2,2.8,6.7c0,2.5-1,4.9-2.8,6.7C62.4,62.2,60,63.2,57.4,63.2z
	 M56.1,30.8c-2.8,0.1-5.5,0.7-8,1.7L46,29.3L31.5,52.9L20,39.5L6.2,61.6L0,57.1l19-30.5L30.5,40l15.2-24.8L56.1,30.8z M65.9,32.7
	c-2.4-1.1-5.1-1.7-7.8-1.9L77.6,0l6.2,4.5L65.9,32.7z" />
      </svg>
    </div>
    <h4>Fase 1</h4>
    <div class="cardImp__txt">
      <ul>
        <li> Asesoramiento en campañas de comunicación</li>
        <li> Habilitar a Roles clave en la ejecución de proyecto</li>
        <li> Kick Off en Focus Groups, Grupos Control y Áreas de Interés.</li>
        <li> Periodo de familiarización con dispositivo.</li>
        <li> Evaluación de Primeros Resultados.</li>
        <li> Configuraciones finales.</li>
      </ul>
    </div>
  </div>
  <div class="cardImp">
    <div class="cardImp__icon">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 84 80" style="enable-background:new 0 0 84 80;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #F6871F;
          }

        </style>
        <path class="st0" d="M71.9,62.7c1.7-2.7,2.7-5.8,2.7-9.1c0-9.5-7.7-17.1-17.1-17.1s-17.1,7.7-17.1,17.1S48,70.8,57.4,70.8
	c3.4,0,6.5-1,9.1-2.7L78.4,80l5.4-5.4L71.9,62.7z M57.4,63.2c-2.5,0-4.9-1-6.7-2.8c-1.8-1.8-2.8-4.2-2.8-6.7c0-2.5,1-4.9,2.8-6.7
	c1.8-1.8,4.2-2.8,6.7-2.8c2.5,0,4.9,1,6.7,2.8c1.8,1.8,2.8,4.2,2.8,6.7c0,2.5-1,4.9-2.8,6.7C62.4,62.2,60,63.2,57.4,63.2z
	 M56.1,30.8c-2.8,0.1-5.5,0.7-8,1.7L46,29.3L31.5,52.9L20,39.5L6.2,61.6L0,57.1l19-30.5L30.5,40l15.2-24.8L56.1,30.8z M65.9,32.7
	c-2.4-1.1-5.1-1.7-7.8-1.9L77.6,0l6.2,4.5L65.9,32.7z" />
      </svg>
    </div>
    <h4>Fase 2</h4>
    <div class="cardImp__txt">
      <ul>
        <li> Despliegue Comunicación.</li>
        <li> Asesoramiento a Roles Clave de Ejecución..</li>
        <li> Experiencia DRIVR para Conductores meta</li>
      </ul>
    </div>
  </div>
  <div class="cardImp">
    <div class="cardImp__icon">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 84 80" style="enable-background:new 0 0 84 80;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #F6871F;
          }

        </style>
        <path class="st0" d="M71.9,62.7c1.7-2.7,2.7-5.8,2.7-9.1c0-9.5-7.7-17.1-17.1-17.1s-17.1,7.7-17.1,17.1S48,70.8,57.4,70.8
	c3.4,0,6.5-1,9.1-2.7L78.4,80l5.4-5.4L71.9,62.7z M57.4,63.2c-2.5,0-4.9-1-6.7-2.8c-1.8-1.8-2.8-4.2-2.8-6.7c0-2.5,1-4.9,2.8-6.7
	c1.8-1.8,4.2-2.8,6.7-2.8c2.5,0,4.9,1,6.7,2.8c1.8,1.8,2.8,4.2,2.8,6.7c0,2.5-1,4.9-2.8,6.7C62.4,62.2,60,63.2,57.4,63.2z
	 M56.1,30.8c-2.8,0.1-5.5,0.7-8,1.7L46,29.3L31.5,52.9L20,39.5L6.2,61.6L0,57.1l19-30.5L30.5,40l15.2-24.8L56.1,30.8z M65.9,32.7
	c-2.4-1.1-5.1-1.7-7.8-1.9L77.6,0l6.2,4.5L65.9,32.7z" />
      </svg>
    </div>
    <h4>Fase 3</h4>
    <div class="cardImp__txt">
      <ul>
        <li> Seguimiento de Resultados y vinculación con indicadores.</li>
        <li> Análisis de tendencias.</li>
        <li> Rituales de gestión.</li>
        <li> Asesoría a Roles Clave.</li>
      </ul>
    </div>
  </div>
  <div class="cardImp">
    <div class="cardImp__icon">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 84 80" style="enable-background:new 0 0 84 80;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #F6871F;
          }

        </style>
        <path class="st0" d="M71.9,62.7c1.7-2.7,2.7-5.8,2.7-9.1c0-9.5-7.7-17.1-17.1-17.1s-17.1,7.7-17.1,17.1S48,70.8,57.4,70.8
	c3.4,0,6.5-1,9.1-2.7L78.4,80l5.4-5.4L71.9,62.7z M57.4,63.2c-2.5,0-4.9-1-6.7-2.8c-1.8-1.8-2.8-4.2-2.8-6.7c0-2.5,1-4.9,2.8-6.7
	c1.8-1.8,4.2-2.8,6.7-2.8c2.5,0,4.9,1,6.7,2.8c1.8,1.8,2.8,4.2,2.8,6.7c0,2.5-1,4.9-2.8,6.7C62.4,62.2,60,63.2,57.4,63.2z
	 M56.1,30.8c-2.8,0.1-5.5,0.7-8,1.7L46,29.3L31.5,52.9L20,39.5L6.2,61.6L0,57.1l19-30.5L30.5,40l15.2-24.8L56.1,30.8z M65.9,32.7
	c-2.4-1.1-5.1-1.7-7.8-1.9L77.6,0l6.2,4.5L65.9,32.7z" />
      </svg>
    </div>
    <h4>Beneficios</h4>
    <div class="cardImp__txt">
      <ul>
        <li> Presentación de Resultados DRIVR.</li>
        <li> Alineación con Indicadores.</li>
        <li> Presentación Plan de Sostenibilidad y Full Potential.</li>
      </ul>
      <div class="cardImp__txt__btnBen">
        <p>Ver todos</p>
      </div>
    </div>
  </div>
</div>
<div class="conteBeneficios">

</div>
<div class="arrowBack">
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 14 10" style="enable-background:new 0 0 14 10;" xml:space="preserve">

<path fill="#FFFFFF" d="M14,5c0-0.1-0.1-0.3-0.1-0.4c-0.1-0.1-0.2-0.1-0.4-0.1H1.7l3.1-3.1c0,0,0.1-0.1,0.1-0.2C5,1.1,5,1.1,5,1
	c0-0.1,0-0.1,0-0.2c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1-0.1-0.2-0.1s-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0.1-0.2,0.1l-4,4
	c0,0-0.1,0.1-0.1,0.2C0,4.9,0,4.9,0,5c0,0.1,0,0.1,0,0.2c0,0.1,0.1,0.1,0.1,0.2l4,4c0,0,0.1,0.1,0.2,0.1c0.1,0,0.1,0,0.2,0
	c0.1,0,0.1,0,0.2,0c0.1,0,0.1-0.1,0.2-0.1c0,0,0.1-0.1,0.1-0.2C5,9.1,5,9.1,5,9c0-0.1,0-0.1,0-0.2c0-0.1-0.1-0.1-0.1-0.2L1.7,5.5
	h11.8c0.1,0,0.3-0.1,0.4-0.1C13.9,5.3,14,5.1,14,5z"/>
</svg>
</div>
