.cardsImp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .cardImp {
    display: flex;
    flex-direction: column;
    width: 14%;
    align-content: flex-start;
    border: 1px solid $orange;
    border-radius: 16px;
    padding: 24px;
    height: 440px;
    h4 {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }

    &__icon {
      width: 60px;
      margin: 0 auto;
      margin-bottom: 12px;
    }

    &__txt {

      ul {
        li {
          color: white;
          text-align: left;
          margin-bottom: 12px;
        }
      }
      &__btnBen{
          background-color: $orange;
          padding: 8px;
          border-radius: 40px;
          width: 80px;
          margin: 0 auto;
          margin-top: 80px;
          cursor: pointer;
          p{
              text-align: center;
              color: $dark-gray;
          }
      }
    }
  }
}

.arrowBack{
    width: 60px;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cardsImp {
        flex-wrap: wrap;
        height: auto;
        overflow-y: scroll;
        .cardImp {
            width: 25%;
            height: auto;
            margin: 0 auto;
            &__txt {

                ul {
                  li {
                    font-size: .5em;
                  }
                }
            }
    }
}
}

@media (max-width: 426px) {
    .cardsImp {
      position: relative;
      display: block;
      width: auto;
      white-space: nowrap;
      height: 100vh;
      margin: 0;
      overflow-y: hidden;
      overflow-x: auto;
        
        .cardImp {
          display: inline-block;
          width:280px;
          height: 400px;
          border: 1px solid $orange;
          padding:  12px ;
          margin-top: 0;
          margin-right: 24px;
            &__txt {
              width: 80%;
                ul {
                  width: 80%;
                  li {
                    width: 80%;
                    font-size: .5em;
                  }
                }
            }
            &__icon {
                width: 32px;
              }
    }
}
.arrowBack{
    width: 32px;
    top: 4%;
    right: 4%;

}
}