<div class="logo">
    <a href="#/">
        <img src="" alt="">
   </a>
</div>

<nav>
    <ul>
        <a href="/#home">
             <li>Home</li>
        </a>
        <a href="/#que-es">
            <li>¿Qué es?</li>
        </a>
        <a href="/#que-evalua">
            <li>¿Qué evalúa?</li>
        </a>
        <a href="/#que-es">
            <li>Seguridad vial</li>
        </a>
        <a href="/#servicios">
            <li>Servicios</li>
        </a>
        <a href="/#contacto">
            <li>Contacto</li>
        </a>
    </ul>
</nav>
