#containerNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;

  >div {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 10%;
      margin-top: 12px;
      margin-left: 24px;
    }

    nav {
      width: 50%;
      margin-right: 24px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        align-items: center;

        li:last-child {
          background-color: $orange;
          padding: 8px 12px;
          border-radius: 50px;


          a:last-child {
            color: $dark-gray;
            text-decoration: none;
            font-weight: bold;
          }
        }

      }
    }
  }
}

@media (max-width: 1024px) {
  #containerNav {

    >div {
      .logo {
        width: 15%;
      }

      nav {
        width: 60%;
        margin-right: 24px;
      }
    }
  }
}

@media (max-width: 768px) {
  #containerNav {

    >div {
      .logo {
        width: 15%;
      }

      nav {
        width: 50%;
        margin-right: 24px;

        ul {

          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          li {
            text-align: right;
            line-height: 2em;
          }

          li:last-child {
            background-color: transparent;
            padding: 0;
            border-radius: 50px;


            a:last-child {
              color: $orange;
              text-decoration: none;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 426px) {
  #containerNav {

    >div {
      .logo {
        width: 30%;
        margin-left: 24px;
      }

      nav {
        width: 50%;
        margin-right: 12px;

        ul {

          flex-direction: column;
          justify-content: flex-end;

          li {
            text-align: right;
            line-height: 2em;
            font-size: .6em;
          }

        }
      }
    }
  }

}
