<div class="containerBen">
  <h1>Beneficios</h1>
  <div class="cardsBen">
    <div class="cardBen">
      <ul>
        <li>
          Reducción de los costos y tiempos de contratación.
        </li>
        <li>
          Reducción de gastos por incidentes en ruta (reparaciones, mantenimiento y cambio de ruta).
        </li>
        <li>
          Reducción de gastos en paradas no planificadas.
        </li>
        <li>Reducción de gastos de combustible por pruebas y prácticas de manejo.</li>
        <li>Baja inversión en tecnología y mejores prácticas globales.</li>
      </ul>
    </div>
    <div class="cardBen">
      <ul>
        <li>
          Reducción de los costos y tiempos de contratación.
        </li>
        <li>
          Reducción de gastos por incidentes en ruta (reparaciones, mantenimiento y cambio de ruta).
        </li>
        <li>
          Reducción de gastos en paradas no planificadas.
        </li>
        <li>Reducción de gastos de combustible por pruebas y prácticas de manejo.</li>
        <li>Baja inversión en tecnología y mejores prácticas globales.</li>
      </ul>
    </div>
    <div class="cardBen">
      <ul>
        <li>
          Reducción de los costos y tiempos de contratación.
        </li>
        <li>
          Reducción de gastos por incidentes en ruta (reparaciones, mantenimiento y cambio de ruta).
        </li>
        <li>
          Reducción de gastos en paradas no planificadas.
        </li>
        <li>Reducción de gastos de combustible por pruebas y prácticas de manejo.</li>
        <li>Baja inversión en tecnología y mejores prácticas globales.</li>
      </ul>
    </div>
  </div>
  <div class="arrowBackBen">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 14 10" style="enable-background:new 0 0 14 10;" xml:space="preserve">

      <path fill="#FFFFFF" d="M14,5c0-0.1-0.1-0.3-0.1-0.4c-0.1-0.1-0.2-0.1-0.4-0.1H1.7l3.1-3.1c0,0,0.1-0.1,0.1-0.2C5,1.1,5,1.1,5,1
          c0-0.1,0-0.1,0-0.2c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1-0.1-0.2-0.1s-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0.1-0.2,0.1l-4,4
          c0,0-0.1,0.1-0.1,0.2C0,4.9,0,4.9,0,5c0,0.1,0,0.1,0,0.2c0,0.1,0.1,0.1,0.1,0.2l4,4c0,0,0.1,0.1,0.2,0.1c0.1,0,0.1,0,0.2,0
          c0.1,0,0.1,0,0.2,0c0.1,0,0.1-0.1,0.2-0.1c0,0,0.1-0.1,0.1-0.2C5,9.1,5,9.1,5,9c0-0.1,0-0.1,0-0.2c0-0.1-0.1-0.1-0.1-0.2L1.7,5.5
          h11.8c0.1,0,0.3-0.1,0.4-0.1C13.9,5.3,14,5.1,14,5z" />
    </svg>
  </div>
</div>
