.contact {

  &__bg {
    position: relative;

    img {
      width: 100%;
      mix-blend-mode: luminosity !important;
      opacity: .2;
    }

    h2 {
      color: $orange;
      position: absolute;
      bottom: 2%;
      left: 2%
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    padding: 24px;

    &__direccion {
      width: 30%;
    }

    &__datos {
      width: 15%;
    }

    &__icons {
      display: flex;
      flex-direction: row;

      &__linkedIn {
        width: 48px;
        margin-right: 28px;
      }

      &__facebook {
        width: 48px;
      }
    }
  }
}

.contactForm {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 25%;
  padding: 80px 24px 24px 24px;
  background-color: $light-gray;

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;
      color: white;
    }

    input {
      margin-bottom: 28px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $orange;
    }

    textarea {
      margin-bottom: 20px;
      background-color: transparent;
      border: 1px solid $orange;
    }

    button {
      background-color: $orange;
      width: 120px;
      border: none;
      border-radius: 40px;
      margin: 0 auto;
      padding: 8px;

      p {
        font-size: 1.5em;
        font-family: 'Barlow-Bold';
        padding: 8px;
      }
    }
  }
}

@media (max-width: 768px) {
  .contactForm {
    z-index: 2;
    width: 35%;
  }

  .contact {

    &__info {
      display: flex;
      flex-direction: column;
      padding: 24px;

      &__direccion {
        width: 50%;
        margin-bottom: 20px;
      }

      &__datos {
        width: 50%;
        margin-bottom: 20px;
      }

      &__icons {
        display: flex;
        flex-direction: row;

        &__linkedIn {
          width: 48px;
          margin-right: 28px;
        }

        &__facebook {
          width: 48px;
        }
      }
    }
  }
}

@media (max-width: 426px) {

  .contact {
    &__info {
      display: flex;
      flex-direction: column;
      padding: 24px;

      &__direccion {
        width: 100%;
        margin-bottom: 20px;
      }

      &__datos {
        width: 100%;
        margin-bottom: 20px;
      }

      &__icons {
        display: flex;
        flex-direction: row;

        &__linkedIn {
          width: 48px;
          margin-right: 28px;
        }

        &__facebook {
          width: 48px;
        }
      }
    }
  }

  .contactForm {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 90%;
    padding: 100px 24px 24px 24px;
    background-color: $light-gray;

    form {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
  }
}
