<div class="containerDrop">
  <div class="tabs">
    <div class="tab">
      <input type="checkbox" id="chck1">
      <label class="tab-label" for="chck1">Enfocado en las personas</label>
      <div class="tab-content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
      </div>
    </div>
    <div class="tab">
      <input type="checkbox" id="chck2">
      <label class="tab-label" for="chck2">Atención al riesgo</label>
      <div class="tab-content">
        <div class="columnTab">
          <h4>Inteligencia de Información</h4>
          <ul>
            <li>Análisis predictivos</li>
            <li>Análisis reactvos</li>
            <li>Análisis de siniestros</li>
          </ul>
        </div>
        <div class="columnTab">
          <h4>Controles y procesos</h4>
          <ul>
            <li>Selección</li>
            <li>Desarrollo y profesionalización</li>
            <li>Controles de mitigación</li>
            <li>Estándares</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab">
    <input type="checkbox" id="chck3">
    <label class="tab-label" for="chck3">Gestión sitémica</label>
    <div class="tab-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
    </div>
    </div>
  </div>
  <div class="info">
      <div class="info__column">
          <img src="../../../public/img/collage.jpg" alt="collage">
      </div>
      <div class="info__obj">
          <h4>Con <span>DriVR</span> ofrecemos una solución  que reduzca el número de accidentes en un <span>30% de inicio, una eficiencia de un 30% en la evaluación y contratación de conductores y reduciendo los costos de operación hasta en un 40%</span></p>
          <div class="btnObjeivos">
              <p>OBJETIVOS DE DESARROLO SUSTENTABLE</p>
          </div>  
        </div>
  </div>
  
</div>
