@font-face {
    font-family: 'Barlow-Regular';
    src: url('../../public/fonts/Barlow-Regular.ttf'); 
}

@font-face {
    font-family: 'Barlow-Medium';
    src: url('../../public/fonts/Barlow-Medium.ttf'); 
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('../../public/fonts/Barlow-Bold.ttf'); 
}

@font-face {
    font-family: 'Barlow-Black';
    src: url('../../public/fonts/Barlow-Black.ttf'); 
}